
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #faf6ed;
    color: #222;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

.menu {
    grid-column:  3 / 5;
    margin-top: 32px;
    margin-bottom: 20px;
    background-color: rgb(255, 171, 54);
}

.menu > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu > ul a {
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 300px 1fr;
    margin-bottom: 20px;
}

.titulo {
    font-family: 'playfair-display',serif;
    font-size: 100px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 10px;
    grid-column: 1 / 4;
}

.animais h2 {
    font-family: 'playfair-display',serif;
    font-size: 20px;
    letter-spacing: .1em;
    margin-bottom: 10px;
    margin-left: 15px;
    color: rgb(255, 112, 90);
}

.animais h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background:  rgb(255, 171, 54);
}

.animais  p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin: 15px;
}

.animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}

.animais-lista li {
    cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
    width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
    background:  rgb(255, 171, 54);
    border-left: 4px solid rgb(255, 171, 54);
    border-right: 4px solid rgb(255, 171, 54);
}

.animais-lista::-webkit-scrollbar-track {
    background:  rgb(244, 244, 244);
   
}

.animais-descricao {
    margin-bottom: 30px;
}

.faq-lista {
    grid-column: 2 / 4;
}

.faq-lista dt {
    font-family: 'playfair-display',serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    color: rgb(255, 112, 90);
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background:  rgb(255, 171, 54);
}

.faq-lista dd {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    margin-left: 30px;
    padding: 10px;
}

.mapa {
    grid-column: 2;
}

.dados {
    grid-column: 3;
}

.dados li {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background:  rgb(255, 171, 54);
}

a {
    text-decoration: none;
    color: rgb(255, 112, 90);
}

a:hover {
    text-decoration: none;
    color: rgb(221, 90, 70);
}

.copy {
    grid-column: 3/5;
    margin-bottom: 20px;
    background:  rgb(255, 171, 54);
}

.copy p {
    padding: 20px;
    font-family: 'playfair-display',serif;
}

@media (max-width: 700px) {

    body {
        grid-template-columns: 1fr;
    }

    .menu, .grid-section, .copy {
        grid-template-columns: 1;
    }

    .grid-section {
        grid-template-columns: 100px 1fr;
    }

    .animais-descricao {
        margin-right: -50%;
    }

    .animais-lista {
        grid-column: 1;
    }

    .faq-lista, .dados, .mapa {
        grid-column: 1 / 3;
    }

    .grid-section h1 {
        font-size: 30px;
    }

    .menu {
        margin-top: 0px;
        margin-left: -70%;
    }

    .menu li {
        margin-left: 50px;
    }

    .copy {
        margin-bottom: 0px;
        margin-left: -60%;
    }

    .copy li {
        margin-left: 50px;
    }
}

.js .js-tabcontent section {
    display: none;
}

.js-tabcontent section.ativo {
    display: block !important;
    animation: show .5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.js .js-accordion dd {
    display: none;
}

.js-accordion dt::after {
    content: '⬎';
    margin-left: 10px;
}

.js-accordion dt.ativo::after {
    content: '⬏';
    margin-left: 10px;
}

.js-accordion dd.ativo {
    display: block;
    animation: slideDown .5s;
}

@keyframes slideDown {
    
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.js .js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .3s;
}

.js .js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}