.modal-container {
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.ativo {
    display: flex;
}

.modal {
    background-color: white;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #fb5;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes modal {
    form {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ativo .modal {
    animation: modal .3s forwards;
}

.fechar {
    position: absolute;
    background-color: #e54;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
    font-size: 20px;
    cursor: pointer;
}

.modal label {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-weight: bold;
    margin: 10px 0 20px 0;
}

.modal input {
    width: 100%;
    padding: 10px 20px;
    box-sizing:  border-box;
}

.modal button[type="submit"] {
    display: block;
    background-color: #e54;
    border: none;
    border-radius: 3px;
    padding: 10px 80px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}