.tooltip {
    position: absolute;
    z-index: 500;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 2px #fb5, 0 0 0 7px rgba(0, 0, 0, .6);
    padding: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 13px;
    max-width: 150px;
    border-radius: 2px;
    top: 0px;
    left: 0px;
}